{% extends 'base.html.twig' %}

{% block title %}Movies{% endblock %}
{% block body %}

    <h1>Edit Movie</h1>
    <div class="row">
        <div class="col-9">
    {{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary" value="{{ button_label|default('Update') }}">
    {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
